---
- name: add ssh key
  vars:
    ansible_python_interpreter: /usr/bin/python3  
  hosts: all 
  become: yes
  tasks:
    - name: install public keys - ecloaiza-docker-prod-1(ecloaiza)
      ansible.posix.authorized_key:
        user: ecloaiza
        state: present
        key: "{{ lookup('file', '/authorized-keys/ecloaiza.pub') }}"        
    - name: install public keys - ecloaiza-docker-prod-1(root)
      ansible.posix.authorized_key:
        user: ecloaiza
        state: present
        key: "{{ lookup('file', '/authorized-keys/root.pub') }}"        
    - name: install public keys - ecloaiza-emimacmini2(ecloaiza)
      ansible.posix.authorized_key:
        user: ecloaiza
        state: present
        key: "{{ lookup('file', '/authorized-keys/ecloaiza-mini.pub') }}"        
    - name: install public keys - ecloaiza-emidevops(root)
      ansible.posix.authorized_key:
        user: ecloaiza
        state: present
        key: "{{ lookup('file', '/authorized-keys/emivevdops-root.pub') }}"        

    - name: install public keys - root-docker-prod-1(ecloaiza)
      ansible.posix.authorized_key:
        user: root
        state: present
        key: "{{ lookup('file', '/authorized-keys/ecloaiza.pub') }}"        
    - name: install public keys - root-docker-prod-1(root)
      ansible.posix.authorized_key:
        user: root
        state: present
        key: "{{ lookup('file', '/authorized-keys/root.pub') }}"        
    - name: install public keys - root-emimacmini2(ecloaiza)
      ansible.posix.authorized_key:
        user: root
        state: present
        key: "{{ lookup('file', '/authorized-keys/ecloaiza-mini.pub') }}"        
    - name: install public keys - root-emidevops(root)
      ansible.posix.authorized_key:
        user: root
        state: present
        key: "{{ lookup('file', '/authorized-keys/emivevdops-root.pub') }}"        

    - name: change sudoers file
      lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%sudo'
        line: '%sudo ALL=(ALL) NOPASSWD: ALL'
        validate: /usr/sbin/visudo -cf %s